/* 共用属性 */

a {
    text-decoration: none;
}

.clear {
    width: 100%;
    height: 0;
    clear: both;
    overflow: hidden;
}

.wrap {
    width: 1020px;
    margin: 0 auto;
}

.kd {
    height: 10px;
}

.orderMenu {
    width: 1020px;
    height: 48px;
    margin: 0 auto;
    color: #030000;
    font-size: 24px;
    line-height: 48px;
    float: left;
}

.orderMenu span {
    float: right;
    font-size: 12px;
    font-family: "宋体"
}

.orderMenu a {
    color: #999;
    font-size: 12px;
}

.suc {
    height: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

td {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑";
}

.carDetail {
    height: auto;
    border: 1px double #eeeeee;
}

table {
    width: 1020px;
    border: 0px;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

div {
    display: block;
}

.carBottom {
    height: 58px;
    line-height: 58px;
    border-top: 1px double #eeeeee;
}

.allPrice {
    float: right;
    font-size: 14px;
    color: #333;
}

.allPrice span {
    color: #ff6600;
    font-size: 26px;
}

.carIco {
    height: 40px;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 30px;
}

.carIco input {
    width: 160px;
    height: 40px;
    border-width: 0px;
    outline: none;
}

.carIco img {
    border: 0px;
    width: 160px;
    height: 40px;
}

.carIco a {
    margin: 0;
    padding: 0;
}